name: lab6pmc
description: "Platform Method Channels Demo"
version: 1.0.0+1

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.10.6
  image_picker: ^1.0.4
  permission_handler: ^11.4.0
  cupertino_icons: ^1.0.2
  device_preview: 1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/